[Desktop Entry]
Version=2.0
Name=Timecard
GenericName=Time tracker
Comment=Track time beautifully.
Type=Application
Categories=Office
Exec=timecard
Terminal=false
StartupNotify=true
Icon=timecard.svg
