exclude .githooks/** .idea/** .vscode/** docs/** share/** tests/**
exclude tox.ini requirements*.txt *.md INSTALL.sh Makefile *.yaml *.spec .flake8
exclude setup.cfg.old.1 setup.py.old
recursive-include src *.py
include README.md LICENSE
include src/timecard/resources/*
