Source: timecard-app
Section: python
Priority: optional
Maintainer: Jason C. McDonald <codemouse92@outlook.com>
Build-Depends: debhelper (>= 9), python3 (>= 3.6)
Homepage: https://codemouse92.github.io/Timecard/
Vcs-Browser: https://github.com/CodeMouse92/timecard
Vcs-Git: https://github.com/CodeMouse92/Timecard.git
X-Python3-Version: >= 3.6
Standards-Version: 4.4.1

Package: timecard-app
Architecture: any
Depends: libpyside2-dev (>=5.11.0), ${python3:Depends}, ${misc:Depends}
Description: Track time beautifully.
 Timecard allows you to track how much time you spend on tasks.
