#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
	--extra-pip-arg "--ignore-installed" \
	--extra-pip-arg "--no-deps" \
	--extra-pip-arg "--no-cache-dir"

override_dh_virtualenv:
	dh_virtualenv --python python3

.PHONY: override_dh_strip override_dh_shlibdeps

override_dh_strip:
	dh_strip --no-automatic-dbgsym --exclude=pyside --exclude=shiboken --exclude=Qt
