[Desktop Entry]
Version=1.0
Name=Timecard
GenericName=Time tracker
Comment=Track time beautifully.
Type=Application
Categories=Office
Exec=Timecard-App
Terminal=false
StartupNotify=true
Icon=com.codemouse92.timecard
